.container {
  max-width: 1024px;
  margin: 2em auto;
}

.mat-mdc-card-title {
  margin: 1em auto;
}

.mat-mdc-form-field {
  width: 100%;
}

input:disabled {
  color: rgba(0, 0, 0, 0.7);
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin: 0.5em;
}
